{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
  <h2>Crypto-Currencies</h2>
  <body>
      <div class="container">
          <img src="/static/img/bitcoin.png" alt="bitcoin">
          <h3>Bitcoin</h3>
            {% if btc_perf > 0.0 %}
               <span class=positive-limit><b>{{ btc_perf }}%</b></span>
            {% elif btc_perf == 0.0 %}
               <span class=neurtral-limit><b>{{ btc_perf }}%</b></span>
            {% else %}
               <span class=negative-limit><b>{{ btc_perf }}%</b></span>
            {% endif %}
          <p>Current: <b>{{ "${:,.2f}".format(btc.last|float) }}</b><br>
             Days High: {{ "${:,.2f}".format(btc.high|float) }}<br>
             Days Low: {{ "${:,.2f}".format(btc.low|float) }}<br>
             Days Open: {{ "${:,.2f}".format(btc.open|float) }}<br>
             Volume: {{ btc.volume|int }}</p><br>
      </div>
      <br>
      <div class="container">
          <img src="/static/img/bitcoin_cash.png" alt="bitcoin_cash">
          <h3>Bitcoin Cash</h3>
            {% if btc_perf > 0 %}
              <span class=positive-limit><b>{{ bch_perf }}%</b></span>
            {% elif btc_perf == 0 %}
              <span class=neutral-limit><b>{{ bch_perf }}%</b></span>
            {% else %}
              <span class=negative-limit><b>{{ bch_perf }}%</b></span>
            {% endif %}
          <p>Current: <b>{{ "${:,.2f}".format(bch.last|float) }}</b><br>
             Days High: {{ "${:,.2f}".format(bch.high|float) }}<br>
             Days Low: {{ "${:,.2f}".format(bch.low|float) }}<br>
             Days Open: {{ "${:,.2f}".format(bch.open|float) }}<br>
             Volume: {{ bch.volume|int }}</p><br>
      </div>
      <br>
      <div class="container">
          <img src="/static/img/ethereum.png" alt="ethereum">
          <h3>Ethereum</h3>
            {% if eth_perf > 0.0 %}
               <span class=positive-limit><b>{{ eth_perf }}%</b></span>
            {% elif eth_perf == 0.0 %}
               <span class=neurtral-limit><b>{{ eth_perf }}%</b></span>
            {% else %}
               <span class=negative-limit><b>{{ eth_perf }}%</b></span>
            {% endif %}
          <p>Current: <b>{{ "${:,.2f}".format(eth.last|float) }}</b><br>
             Days High: {{ "${:,.2f}".format(eth.high|float) }}<br>
             Days Low: {{ "${:,.2f}".format(eth.low|float) }}<br>
             Days Open: {{ "${:,.2f}".format(eth.open|float) }}<br>
             Volume: {{ btc.volume|int }}</p><br>
      </div>
      <br>
      <div class="container">
          <img src="/static/img/ripple.png" alt="ripple">
          <h3>Ripple (XRP)  </h3>
              {% if xrp_perf > 0 %}
                <span class=positive-limit><b>{{ xrp_perf }}%</b></span>
              {% elif xrp_perf == 0 %}
                <span class=neutral-limit><b>{{ xrp_perf }}%</b></span>
              {% else %}
                <span class=negative-limit><b>{{ xrp_perf }}%</b></span>
              {% endif %}
          <p>Current: <b>{{ "${:,.2f}".format(xrp.last|float) }}</b><br>
             Days High: {{ "${:,.2f}".format(xrp.high|float) }}<br>
             Days Low: {{ "${:,.2f}".format(xrp.low|float) }}<br>
             Days Open: {{ "${:,.2f}".format(xrp.open|float) }}<br>
             Volume: {{ eth.volume|int }}</p><br>
      </div>
  </body>
{% endblock %}
